<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.realliu.htm.dao.TenantApplicationDao">

    <resultMap type="cn.realliu.htm.common.bean.TenantApplication" id="TenantApplicationResult">
        <id property="applyId" column="APPLY_ID" />
        <result property="applyType" column="APPLY_TYPE" />
        <result property="houseId" column="HOUSE_ID" />
        <result property="landlordId" column="LANDLORD_ID" />
        <result property="tenantId" column="TENANT_ID" />
        <result property="agencyId" column="AGENCY_ID" />
        <result property="rentalPrice" column="RENTAL_PRICE" />
        <result property="rentalTime" column="RENTAL_TIME" />
        <result property="status" column="STATUS" />
    </resultMap>

    <!-- 新增租房申请单 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="applyId" parameterType="cn.realliu.htm.common.bean.TenantApplication" >
        insert into TENANT_APPLICATION(APPLY_TYPE,HOUSE_ID,LANDLORD_ID,TENANT_ID,AGENCY_ID,RENTAL_PRICE,RENTAL_TIME,STATUS)
        values(#{applyType,jdbcType=VARCHAR},#{houseId,jdbcType=INTEGER},#{landlordId,jdbcType=INTEGER},#{tenantId,jdbcType=INTEGER},
              #{agencyId,jdbcType=INTEGER},#{rentalPrice,jdbcType=INTEGER},#{rentalTime,jdbcType=INTEGER},#{status,jdbcType=VARCHAR})
    </insert>

</mapper>