<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.realliu.htm.dao.UserDao">

    <resultMap type="cn.realliu.htm.common.bean.User" id="UserResult">
        <id property="userId" column="USER_ID" />
        <result property="userName" column="USER_NAME" />
        <result property="userPassword" column="USER_PASSWORD" />
        <result property="userRole" column="USER_ROLE" />
    </resultMap>

    <!-- 新增用户 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="userId" parameterType="cn.realliu.htm.common.bean.User" >
        insert into USER(USER_NAME,USER_PASSWORD,USER_ROLE)
        values(#{userName,jdbcType=INTEGER},#{userPassword,jdbcType=VARCHAR},#{userRole,jdbcType=VARCHAR})
    </insert>

    <!-- 通过用户账号，密码查找用户 -->
    <select id="selectByNamePassword" resultMap="UserResult">
            select *
            from USER
            where USER_NAME= #{userName} and USER_PASSWORD= #{userPassWord}
    </select>

    <!-- 通过用户账号查找用户 -->
    <select id="selectByUserName" resultMap="UserResult">
            select *
            from USER
            where USER_NAME= #{userName}
    </select>


</mapper>